In [26]:
pip install word2number

Requirement already satisfied: word2number in c:\users\asnat\anaconda3\lib\site-packages (1.1)Note: you may need to restart the kernel to use updated packages.

In [27]:
import numpy as np
import pandas as pd
from sklearn import linear_model
from word2number import w2n
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [28]:
#import Dataset
df=pd.read_csv('carprices.csv')
df

         Car Model  Mileage  Sell Price  Age
0           BMW X5    69000       18000    6
1           BMW X5    35000       34000    3
2           BMW X5    57000       26100    5
3           BMW X5    22500       40000    2
4           BMW X5    46000       31500    4
5             Audi    59000       29400    5
6             Audi    52000       32000    5
7             Audi    72000       19300    6
8             Audi    91000       12000    8
9   Mercedez Benz     67000       22000    6
10  Mercedez Benz     83000       20000    7
11  Mercedez Benz     79000       21000    7
12  Mercedez Benz     59000       33000    5
13          Toyota    51000       42000    4
14          Toyota    65000       32000    7
15          Toyota    39000       55000    5

In [29]:
dummies=pd.get_dummies(df['Car Model'])
dummies

     Audi  BMW X5  Mercedez Benz   Toyota
0   False    True           False   False
1   False    True           False   False
2   False    True           False   False
3   False    True           False   False
4   False    True           False   False
5    True   False           False   False
6    True   False           False   False
7    True   False           False   False
8    True   False           False   False
9   False   False            True   False
10  False   False            True   False
11  False   False            True   False
12  False   False            True   False
13  False   False           False    True
14  False   False           False    True
15  False   False           False    True

In [30]:
# Convert boolean values (if any) to integers
dummies = dummies.astype(int)
print(dummies)

    Audi  BMW X5  Mercedez Benz   Toyota
0      0       1               0       0
1      0       1               0       0
2      0       1               0       0
3      0       1               0       0
4      0       1               0       0
5      1       0               0       0
6      1       0               0       0
7      1       0               0       0
8      1       0               0       0
9      0       0               1       0
10     0       0               1       0
11     0       0               1       0
12     0       0               1       0
13     0       0               0       1
14     0       0               0       1
15     0       0               0       1

In [31]:
merge=pd.concat([df,dummies],axis='columns')
merge

,Car Model,Mileage,Sell Price,Age,Audi,BMW X5,Mercedez Benz,Toyota
0,BMW X5,69000,18000,6,0,1,0,0
1,BMW X5,35000,34000,3,0,1,0,0
2,BMW X5,57000,26100,5,0,1,0,0
3,BMW X5,22500,40000,2,0,1,0,0
4,BMW X5,46000,31500,4,0,1,0,0
5,Audi,59000,29400,5,1,0,0,0
6,Audi,52000,32000,5,1,0,0,0
7,Audi,72000,19300,6,1,0,0,0
8,Audi,91000,12000,8,1,0,0,0
9,Mercedez Benz,67000,22000,6,0,0,1,0
10,Mercedez Benz,83000,20000,7,0,0,1,0
11,Mercedez Benz,79000,21000,7,0,0,1,0
12,Mercedez Benz,59000,33000,5,0,0,1,0
13,Toyota,51000,42000,4,0,0,0,1
14,Toyota,65000,32000,7,0,0,0,1
15,Toyota,39000,55000,5,0,0,0,1

In [32]:
final=merge.drop(['Car Model'],axis='columns')
final

    Mileage  Sell Price  Age  Audi  BMW X5  Mercedez Benz   Toyota
0     69000       18000    6     0       1               0       0
1     35000       34000    3     0       1               0       0
2     57000       26100    5     0       1               0       0
3     22500       40000    2     0       1               0       0
4     46000       31500    4     0       1               0       0
5     59000       29400    5     1       0               0       0
6     52000       32000    5     1       0               0       0
7     72000       19300    6     1       0               0       0
8     91000       12000    8     1       0               0       0
9     67000       22000    6     0       0               1       0
10    83000       20000    7     0       0               1       0
11    79000       21000    7     0       0               1       0
12    59000       33000    5     0       0               1       0
13    51000       42000    4     0       0               0       1
14    65000       32000    7     0       0               0       1
15    39000       55000    5     0       0               0       1

In [33]:
final.columns

Index(['Mileage', 'Sell Price', 'Age', 'Audi', 'BMW X5', 'Mercedez Benz ',
       'Toyota'],
      dtype='object')

In [34]:
predictors=['Mileage', 'Sell Price', 'Age', 'Audi', 'BMW X5', 'Mercedez Benz ','Toyota']
x=final[predictors]
y=final['Sell Price']

In [35]:
x.shape,y.shape

((16, 7), (16,))

In [36]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [37]:
#Split train and test datasets
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [38]:
x_train.shape,x_test.shape

((12, 7), (4, 7))

In [39]:
x_train.shape,x_test.shape

((12, 7), (4, 7))

In [50]:
reg=LinearRegression()

In [58]:
model=reg.fit(x_train,y_train)

In [62]:
model.predict([[59000,6,0,1,0,0,0]])

C:\Users\asnat\anaconda3\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([6.])

In [63]:
model.score(x_test,y_test)

1.0

In [64]:
model.score(x_test,y_test)

1.0

In [65]:
model.score(x_train,y_train)

1.0